*{
margin: 0px;
padding: 0px;
}

.body-login{
  background-image: url("http://pumasdc.com.co/SITSS/resources/img/Recurso%201.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* COLORES */
.bg-red-custom{
  background-color: #FF0000;
  border-color: #FF0000;
}

/* CONTEEDORES */
.login-container{
  width: 70vh;
}


/* INPUTS */


/* BOTONES */


